@import "@/assets/styles/_variables.scss";

//home view styles
.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

//hero component styles
.hero {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #191654, #43c6ac);
  color: $dark-text;
  padding: $spacing-medium;

  @media (max-width: 768px) {
    width: auto;
  }

  &__content {
    max-width: 600px;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: $spacing-small;
  }

  &__subtitle {
    font-size: 1.2rem;
    margin-bottom: $spacing-medium;
  }

  &__button {
    background: $accent;
    color: $dark-bg;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;

    &:hover {
      background: darken($accent, 10%);
    }
  }
}

//  Featured component styles
.featured {
  text-align: center;
  padding: 2rem 0;
  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffffffdf;
    font-weight: normal;
    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  &__grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    &-trending {
      overflow: hidden;
      border-radius: 8px;
    }
  }

  &__genres {
    padding: 40px 20px;
    margin: 40px 20px;

    &-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      max-width: 1200px;
      margin: 0 auto;

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      &-pill {
        padding: 10px 16px;
        text-align: center;
        font-size: 16px;
        font-weight: 100;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffffdf;
        text-decoration: underline;
        border: 1px solid #ffe10065;
      }
    }
  }

  &__image {
    width: 100%;
    border-radius: 8px;
    @media (max-width: 768px) {
      width: 80%;
    }
  }
}

// SubscriptionsPlans component styles
.plans {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__item {
    width: 300px;
    height: 300px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__title {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
  }

  &__price {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
    text-align: center;
    color: $dark-accent;
  }

  &__list {
    list-style: none;
    padding: 0;
    text-align: center;

    &-item {
      margin-bottom: 5px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 2.5rem;
    padding: 8px 16px;
    background: $dark-accent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $dark-accent-hover;
    }
  }
}
